body {
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
}

* {
    font-family: "Source Sans Pro", sans-serif;
}

.text-blue {
    color: #425be7;
}

.text-yellow {
    color: #F7B801;
    text-shadow: 5px 5px 20px black;
}

.link-color {
    color: #5a72f9;
}

a:hover {
    text-decoration: none !important;
}

li .link-color:hover {
    color: white;
    background-color: #5a72f9;
    border-radius: 10px;
    padding: 7px;
    margin: -7px;
    box-shadow: 1px 1px 10px black;
}

li .link-color:active {
    box-shadow: 1px 1px 5px black;
}

.one-pix {
    margin-top: -1px;
    margin-right: -1px;
}

main {
    margin-top: 10vh;
    background-color: #6f83f5;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    transform: skewY(-6deg);
    box-shadow: 2px 2px 10px 1px black;
}

.block {
    padding-top: 10vh;
    transform: skewY(6deg);
}

.space {
    width: 100%;
    height: 70px;
}

.card {
    background: transparent;
    border: none;
    margin-bottom: 5vh;
}

.project {
    color: #F7B801;
    -webkit-text-stroke: 1px #576ef0;
    text-shadow: 5px 5px 20px black;
}

img {
    border-radius: 25px;
}

.repo {
    background-color: #F7B801;
    box-shadow: 2px 2px 10px 1px black;
}

.repo:hover {
    background-color: #dea705;
}

.box-shadow {
    box-shadow: 2px 2px 10px 1px black;
}

.box-shadow:hover {
    box-shadow: 5px 5px 15px 2px black;
}

.technologies {
    color: #F7B801;
}

.github {
    height: 70px;
    width: auto;
    transform: scale(.9);
}

.github:hover {
    transform: scale(1);
}

.linkedin {
    height: 100px;
    width: auto;
    transform: scale(1.2);
}

.linkedin:hover {
    transform: scale(1.3);
}

.twitter:hover {
    transform: scale(1.1);
}

.move {
    margin-right: -3px;
}

.about-me {
    line-height: 1.5em;
    font-size: 22px;
    text-shadow: 5px 5px 25px black;
}

.subtext {
    margin-bottom: -.5px;
}

.headshot {
    box-shadow: 5px 5px 20px -5px black;
}

.info {
    text-shadow: 5px 5px 25px black; 
}

#contact {
    text-shadow: 5px 5px 20px black;
}

.form-control {
    box-shadow: 5px 5px 20px -5px black;
}